.eui-layout-container{
    margin: 8px;
}
.etree{
    padding:  8px;
}
.content{
    margin: 0px 12px;
    padding-bottom: 8px;
    border: 1px solid black;
}
.body{
    margin-top: 8px;
}
.left{
    background-color: #032041;
}